<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Acacom</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="cc/css/materialize.min.css"/>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src='cc/js/materialize.min.js'></script>
<script src='cc/js/pace.min.js'></script>
<link rel="stylesheet" href="cc/css/pace.css" />


  </head>
  <body>
    <script>
    $(document).ready(function(){
        $('.slider').slider();
      });

    </script>
<!--navbar-->
    <nav>
      <div class="nav-wrapper">
         <a href="#" class="brand-logo left"><img class="responsive-img" id="logo" src=""></a>
         <ul id="nav-mobile" class="left hide-on-med-and-down">

          </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><div class="chip"><img src="cc/images/wa.png" alt="Contact Person"><b>0812974888800</b></div>
              <div class="chip"><img src="cc/images/bbm.png" alt="Contact Person"><b>D0133D0A</b></div></li>
            <li><a href="/logout">Keluar</a></li>

         </ul>
       </div>
    </nav>
<!--end navbar-->
<!-- Page Layout here -->
    <div class="row">

      <div class="col s3">
        <!-- Grey navigation panel -->
        <div class="collection">
          <a href="/tambahdata" class="collection-item">Product</a>
          <a href="/tambahkontak" class="collection-item">Kontak</a>
          <a href="/user" class="collection-item">User</a>
          <a href="/" class="collection-item">Home</a>


        </div>

        <!-- End Grey navigation panel -->
      </div>
<div class="row">
      <div class="col s9">
        <!-- Teal page content  -->
