<% include ./head %>
<div class="content">
<h2>Nama Product : <%=data.name%></h2>
<img class="responsive-img" src="<%=data.gambar%>"/>
<h5>Kondisi Barang : <%=data.status%></h5>

<h5>Kondisi Barang : <%-data.detail%></h5>
</div>
<% include ./foot %>
