<!-- End Teal page content  -->
</div>
</div>

<!--footer-->
<footer class="page-footer">
      <div >
        <div class="row">
        <div class="col s4">
        <!-- Promo Content 1 goes here -->
        <h5 class="white-text">Cahaya Communication</h5>
        <b><p class="grey-text text-lighten-4">Alamat
          E-mail: sunarto.sn@gmail.com
          Phone Simpati: +62 0812974888800
          jl raya duri kosambi no 40 cengkareng jakarta barat</p></b>

        </div>
        <div class="col s4">
        <!-- Promo Content 2 goes here -->
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
          <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
          <li><a class="grey-text text-lighten-3" href="/contact">Contact</a></li>
          <li><a class="grey-text text-lighten-3" href="/product">Product</a></li>
        </ul>
        </div>
        <div class="col s4">
        <!-- Promo Content 3 goes here -->
        <h5 class="white-text">Cahaya Communication</h5>
        <b><p class="grey-text text-lighten-4">Alamat
          E-mail: sunarto.sn@gmail.com
          Phone Simpati: +62 0812974888800
          jl raya duri kosambi no 40 cengkareng jakarta barat</p></b>

        </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2017 Copyright Cahaya Communication
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
<!--end footer-->

</body>
</html>
