<% include head %>
<% for (var i=0;i<data.length;i++) {%>
        <div class="col s4">
          <div class="card">
            <div class="card-content">
              <span class="card-title"><%=data[i].name%></span>
              <img class="responsive-img" src="/<%=data[i].gambar%>">
              <p><%=data[i].detail%></p>
            </div>
            <div class="card-action valign center">
              <a align="center" href="/detail/<%=data[i].id%>">Detail</a>
              <a align="center" href="#">Order</a>
            </div>
          </div>
        </div>
<% } %>
<% include foot %>
