      <!-- End Grey navigation panel -->
<div class="row">
      <div class="col s9">
        <!-- Teal page content  -->

        <!-- gambar slide-->
        <div class="containner">
        <div class="slider" height="200" width="500">
        <ul class="slides">
      <li>
          <img src="cc/images/slider/bg1.jpg"> <!-- random image -->
          <div class="black caption center-align">
      </li>
      <li>
        <img src="cc/images/slider/bg2.jpg"> <!-- random image -->
        <div class="caption center-align">
      </li>
      <li>
        <img src="cc/images/slider/bg3.jpg"> <!-- random image -->
        <div class="caption center-align">
      </li>
    </ul>
  </div>

<!-- end slider -->
